@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=JetBrains+Mono:wght@400;700&display=swap');

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-[#050505] text-[#e5e7eb] font-sans antialiased selection:bg-sky-500 selection:text-black;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #050505;
  }
  ::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #38bdf833;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-gradient-sky {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-blue-600;
}

